.glass-container {
  position: relative;
  perspective: 24em;
  transform-style: preserve-3d;
  padding: 2em;
  text-align: center;
}

.glass-container__back,
.glass-container__front {
  transition: transform 0.3s cubic-bezier(0.83, 0, 0.17, 1);
  border-radius: 1.25em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.glass-container__back {
  background: linear-gradient(hsl(141, 71%, 40%), hsl(151, 71%, 40%));
  box-shadow: 0.5em -0.5em 0.75em hsla(223, 10%, 10%, 0.15);
  transform: rotate(5deg) translateZ(-1em);
  transform-origin: 100% 100%;
}

.glass-container__front {
  background-color: hsla(0, 0%, 100%, 0.15);
  box-shadow: 0 0 0 0.1em hsla(0, 0%, 100%, 0.3) inset;
  backdrop-filter: blur(0.75em);
  -webkit-backdrop-filter: blur(0.75em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  transform-origin: 80% 50%;
  position: relative;
  z-index: 1;
}
